//Fonts
$baseFont: 'Kanit', sans-serif;

//Colours
$white: #fff;
$Orange: #ff5003;
$Yellow: #ffbe00;
$darkBlue: #002347;
$lightBlue: #003f70;

// grid variables
$grid-columns: 12;
$grid-max-width: 62em;